<div id="controls" class="row hcenter vcenter controls">
    <div class="controls-title">GoJs # Summernote</div>
    <div class="column vcenter hcenter save-icon">
        <i class="fas {{ if this.diagramChanged 'fa-sync fa-spin' 'fa-check-circle' }}"></i>
        <span>{{ if this.diagramChanged 'saving' 'saved' }}</span>
    </div>
</div>